<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Enter Date</h1>
    
     <form  action="{% url 'weekday:index' %}" method="post" class="date" >
        {% csrf_token %}
        {{ form }}
        <input type="submit">
    </form>
    {% if wkdy is not null %}
    <div id="day">
        {{wkdy}}
    </div>
    {% endif%}

<button onclick="clearBox()" >Clear</button>
</body>
<script>
function clearBox()
{
    document.getElementById('day').innerHTML = "";
    document.getElementById("myForm").reset();
    $("#date :input").val('');
}
</script>
</html>